.DS_Store
.envrc
.idea
.vscode
*.test
*.out
*.pprof
/bin
/cmd/tracestore-cli/tracestore-cli
/cmd/tracestore-query/tracestore-query
/dist
/example/docker-compose/**/gcs-data/
/example/docker-compose/**/tracestore-data/
/operations/jsonnet/microservices/test/outputs
/operations/jsonnet/microservices/test/vendor
/pkg/traceql/y.output
/tracestore
/tracestore-query
/tracestore-vulture
/tracestoredb/encoding/benchmark_block
private-key.key
integration/e2e/e2e_integration_test[0-9]*
integration/e2e/api/e2e_integration_test[0-9]*
integration/e2e/deployments/e2e_integration_test[0-9]*
.tracestore.yaml
/tmp
gh-token.txt
.cache
